@use "_var"


// ============ HEADERS =============

h1
    color: var.$strong-color
    font-size: 2em
    margin-top: 0
    margin-bottom: 0.01em
    letter-spacing: 0.06em
    font-weight: 400


.groupHeader
    color: #818181
    font-size: 1.3em
    line-height: 1.3em
    font-weight: 200
    letter-spacing: 0.08em

.itemHeader
    color: #212121
    font-size: 1.15em
    line-height: 0.8em
    font-weight: 500
    



// ============== MAIN CONTENT ============

.mainText
    color: #212121
    font-size: 0.9em  

    
// ========== INFO TEXT ============

.largeInfo
    color: #484848
    font-size: 1em  
    line-height: 0.5em

.mediumInfo
    color: #484848
    font-size: 0.9em  

.smallInfo
    color: #757575
    line-height: 0.5em
    font-size: 0.8em