@use "_var"


// ============ HEADERS =============

h1
    color: var.$strong-color
    font-size: 2.1em
    margin-top: 0
    margin-bottom: 0.01em
    letter-spacing: 0.06em
    font-weight: 500


.groupHeader
    color: var.$light-gray
    font-size: 1.3em
    line-height: 1.3em
    font-weight: 200
    letter-spacing: 0.08em

.itemHeader
    color: var.$medium-gray
    font-size: 1.15em
    line-height: 0.8em
    font-weight: 500
    



// ============== MAIN CONTENT ============

.mainText
    color: var.$text-color
    font-size: 0.9em  

    
// ========== INFO TEXT ============

.largeInfo
    color: var.$medium-gray
    font-size: 1em  
    line-height: 0.5em

.mediumInfo
    color: var.$medium-gray
    font-size: 0.9em  
    line-height: 0.5em

.smallInfo
    color: var.$light-gray
    line-height: 0.5em
    font-size: 0.8em