

// ============ LAYOUT ===========

$page-grid-division: 3fr 1fr


// ============= SPACING ===============

$page-padding-vert: 3em
$page-padding-right: 1em
$page-padding-left: 3.8em

$side-content-padding-top: 1.4em
$std-indent: 0.6em

    
    
//============ COLORS ==============

$behind-page-color: #f0f0f0
$page-color: #fff
$strong-color: #2196F3