

// ============ LAYOUT ===========

$page-grid-division: 3fr 1fr


// ============= SPACING ===============

$page-padding-horiz: 2em
$page-padding-vert: 3em

    
    
//============ COLORS ==============

$behind-page-color: #f0f0f0
$page-color: #fff
$strong-color: #2196F3