@use "_var"
@use "_text"
    
*
    font-family: "EB Garamond"


// =============== PAGE ================


body
    margin: 0
    min-height: 100vh
    height: 100vh
    background-color: var.$behind-page-color

section
    max-width: 21cm
    min-height: 29.7cm
    margin: 1em auto
    padding: 3em 1em 3em 3.8em
    left: 0
    right: 0 
    background-color: var.$page-color
    display: grid
    grid-template-columns: var.$page-grid-division
    grid-template-rows: max-content max-content
    box-shadow: 0.1em 0.1em 0.5em var.$shadow-color

    @media (max-width: var.$split-to-rows-size)
        grid-template-columns: auto
        padding-right: 2em
    
    @media (max-width: 30em)
        padding: 1em
        margin-top: 0

header
    margin-bottom: 2em

    .floor
        margin-bottom: 0.5em
        height: min-content
        margin-top: auto

    .columns
        margin-left: var.$std-indent * 0.7

    .mediumInfo
        margin-left: var.$std-indent *1.5

.pageContent
    margin-left: var.$std-indent *0.2
    margin-top: 1em

// ============== MAIN CONTENT ============

.infoItem
    padding-left: var.$std-indent
    margin-bottom: 2.5em
    margin-top: 1.5em



// ========== SIDE CONTENT ===========

.rightColumnSection
    margin-top: 1.8em

    h2
        color: var.$medium-gray

    @media (max-width: var.$split-to-rows-size)
        h2
            color: var.$light-gray


// ============ OTHER ===============

.profilePic
    border-radius: 50%  
    margin-left: auto
    margin-right: auto
    object-fit: cover

    @media (max-width: 30em)
        display: none

.columns
    display: grid
    grid-auto-columns: max-content
    grid-auto-flow: column
    column-gap: 5%

.columnDivider 
    border-right: 0.07em solid var.$light-gray
    margin: 0.6em 0 0.5em 0

a
    text-decoration: none
    &:hover
        text-decoration: underline

// ============= PRINT ==============

@page
    margin: 0

@media print
    .infoItem
        page-break-inside: avoid

    section
        margin: 0
        box-shadow: none
        height: auto
        min-height: auto
        width: 100%
        max-width: 100%
