@use "_var"
    
*
    font-family: "EB Garamond"


// =============== PAGE ================

@page
    margin: 0

body
    margin: 0
    min-height: 100vh
    height: 100vh
    background-color: var.$behind-page-color

main
    position: absolute
    max-width: 21cm
    height: 29.7cm
    margin: 0 auto
    padding: var.$page-padding-vert var.$page-padding-horiz
    left: 0
    right: 0 
    background-color: var.$page-color
    display: grid
    grid-template-columns: var.$page-grid-division

.name
    color: var.$strong-color
    font-size: 1.8em
    margin-top: 0
    margin-bottom: 0.01em

.contactInfo
    color: #757575
    font-size: 7.9pt

.infoItem
    padding: 0.8em

.groupHeader
    color: #212121
    font-size: 12.3pt

.itemHeader
    color: #212121
    font-size: 12pt

.mainText
    color: #212121
    font-size: 9.5pt


// ========== INFO ============

.largeInfo
    color: #212121
    font-size: 0.9em  

.smallInfo
    color: #757575
    font-size: 0.7em
