@use "var"


.optionsPanel
    padding: 0.2em 2em 2em 1em
    height: min-content
    margin-top: 3em
    grid-template-columns: auto
    border-radius: 0.2em
    display: none

    *
        margin-top: 0.1em
        margin-bottom: 0.1em

    h2
        color: var.$dark-gray
        margin-bottom: 0.4em

    button
        background: none
        border: none
        padding: 0
        text-decoration: underline
        cursor: pointer
        width: max-content
        height: min-content


#toggleOptionsBtn
    background-color: var.$options-background
    border: none
    padding: 0.7em
    position: fixed
    right: 0em
    top: 4em
    z-index: 5


@media print
    .optionsPanelContainer
        display: none


@media screen and (max-width: var.$hide-options-menu-screen-width)
    .optionsPanelContainer
        position: fixed
        right: 0
        width: 10em
        z-index: 4

    .optionsPanel
        background-color: var.$options-background
        z-index: 4
        padding: 1.6em
        box-shadow: 0.05em 0.05em 0.2em var.$shadow-color


@media screen and (min-width: var.$hide-options-menu-screen-width)
    .optionsPanelContainer
        position: relative

    .optionsPanel
        display: grid !important

    #toggleOptionsBtn
        display: none
