@use "_var"

.credit
    position: fixed
    left: 50%
    margin-left: 6cm
    bottom: 1em
    display: block
    width: max-content

    *
        position: relative

    a
        color: var.$strong-color

    @media screen and (max-width: 21cm)
        margin-left: 0
        right: 10%
        left: unset
