
@page
    margin: 0
    margin-right: 3em

@media print
    .infoItem
        page-break-inside: avoid

    section
        box-shadow: none
        height: auto
        min-height: auto
        width: 100%
        max-width: 100%

    main
        margin: 0
        max-width: none

    .credit
        display: none