h1 {
  color: #2196F3;
  font-size: 2.2em;
  margin-top: 0.4em;
  margin-bottom: 0.1em;
  letter-spacing: 0.06em;
  font-weight: 500;
}

h2 {
  color: #818181;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 100;
  letter-spacing: 0.08em;
}

h3 {
  color: #3a3a3a;
  font-size: 1.15em;
  line-height: 0.8em;
  font-weight: 500;
}

.bodyText {
  color: #1b1b1b;
  font-size: 0.9em;
}

.largeText {
  color: #1b1b1b;
  font-size: 1rem;
  margin: 0.6em 0;
}

.mediumText {
  color: #3a3a3a;
  font-size: 0.9em;
  line-height: 0.5em;
}

.smallText {
  color: #818181;
  line-height: 0.5em;
  font-size: 0.8em;
}

.optionsPanel {
  padding: 0.2em 2em 2em 1em;
  height: -moz-min-content;
  height: min-content;
  margin-top: 3em;
  grid-template-columns: auto;
  border-radius: 0.2em;
  display: none;
}
.optionsPanel * {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.optionsPanel h2 {
  color: #1b1b1b;
  margin-bottom: 0.4em;
}
.optionsPanel button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}

#toggleOptionsBtn {
  background-color: #e3e3e3;
  border: none;
  padding: 0.7em;
  position: fixed;
  right: 0em;
  top: 4em;
  z-index: 5;
}

@media print {
  .optionsPanelContainer {
    display: none;
  }
}
@media screen and (max-width: 30cm) {
  .optionsPanelContainer {
    position: fixed;
    right: 0;
    width: 10em;
    z-index: 4;
  }
  .optionsPanel {
    background-color: #e3e3e3;
    z-index: 4;
    padding: 1.6em;
    box-shadow: 0.05em 0.05em 0.2em #bdbdbd;
  }
}
@media screen and (min-width: 30cm) {
  .optionsPanelContainer {
    position: relative;
  }
  .optionsPanel {
    display: grid !important;
  }
  #toggleOptionsBtn {
    display: none;
  }
}
section {
  z-index: 2;
  max-width: 210mm;
  width: 100vw;
  box-sizing: border-box;
  min-height: 297mm;
  margin: 1em 0;
  padding: 2em 1.3em 3em 3.8em;
  background-color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: max-content max-content;
  box-shadow: 0.1em 0.1em 0.5em #bdbdbd;
}
@media (max-width: 42em) {
  section {
    grid-template-columns: auto;
    padding-right: 2em;
  }
}
@media (max-width: 30em) {
  section {
    padding: 1em;
    margin-top: 0;
  }
}
@media screen and (max-width: 220mm) {
  section {
    padding-right: 40px;
  }
}

.pageContent {
  margin-left: 0.12em;
  margin-top: 1em;
}

.profilePic {
  display: none;
}

.infoItem {
  padding-left: 0.6em;
  margin-bottom: 2.5em;
  margin-top: 1.5em;
}

.rightColumn div {
  margin-top: 1em;
}
.rightColumn div h2 {
  color: #3a3a3a;
}
@media (max-width: 42em) {
  .rightColumn div h2 {
    color: #818181;
  }
}

header {
  margin-bottom: 2em;
}
header .floor {
  margin-bottom: 0.5em;
  height: -moz-min-content;
  height: min-content;
  margin-top: auto;
}
header .columns {
  margin-left: 0.42em;
}
header .mediumText {
  margin-left: 0.9em;
}

.profilePic {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 30em) {
  .profilePic {
    display: none !important;
  }
}

.columns {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  -moz-column-gap: 5%;
       column-gap: 5%;
}

.columnDivider {
  border-right: 0.1em solid #818181;
  height: 50%;
  margin-top: 0.7em;
}

@page {
  margin: 0;
  margin-right: 2em;
}
@media print {
  .infoItem {
    page-break-inside: avoid;
  }
  section {
    box-shadow: none;
    height: auto;
    min-height: auto;
    width: 100%;
    max-width: 100%;
  }
  main {
    margin: 0;
    max-width: none;
  }
  .credit {
    display: none;
  }
}
.credits {
  position: fixed;
  left: 50%;
  margin-left: 3cm;
  bottom: 1em;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 21cm) {
  .credits {
    margin-left: 0;
    right: 10%;
    left: unset;
  }
}

.credit * {
  position: relative;
}
.credit a {
  color: #2196F3;
}

* {
  font-family: "EB Garamond";
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  background-color: #f0f0f0;
}

main {
  display: grid;
  grid-template-columns: auto max-content;
  margin: auto;
  max-width: -moz-max-content;
  max-width: max-content;
  -moz-column-gap: 0.8em;
       column-gap: 0.8em;
  padding-bottom: 3em;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input[type=checkbox] {
  accent-color: #2196F3;
}/*# sourceMappingURL=style.css.map */